*{
    margin: 0%;
}
.content-navBar{
   background-image: url("../../images/main-imagen.jpg");
   background-repeat: no-repeat;
   width: 100%;
   height: 118vh;
}
.logo-pufi {
    width: 10%;
    height: 6%;
    margin-right: 30%;
  }
.pufi-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-left: 30px ;
    }
.line{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    }
.line-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    }
.nav-menu{
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 20%;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}
.nav-menu-one{
    padding-right: 5px;
    display: flex;
    justify-content:right;
    list-style-type: none;

}
.nav-menu-link{
    list-style-type: none;
    margin-left: 20px ;
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.text-rain{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-menu-link-one{
    margin-left:20px;
    color: rgba(255, 255, 255, 0.795);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;  
}
.messege{
    justify-items: center;
    text-align: center;
    margin: 170px auto auto auto;
    padding-top: 5px;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-img{
    width: 50%;
    height: 60%;
}
/*CSS del componente PufiRain*/
.container-rain{
    display: flex;
}
.container-img{
    background-image: url("../../images/parasol-rain.jpg");
    background-repeat: no-repeat;
    width: 1000%;
    height: 85vh;
}
.parrafo-shop{
    border: 30px rgb(93, 13, 223);
}
.parrafo-rain{
    border: 25px rgb(233, 196, 33);
    color: gray;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.details{
    width: 1000%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.parasol-rain{
    width: 100px;
    height: 100px;
}
.description{
    color: gray;
    font-size: 20px;
}
.button-shop:hover {
    background-color: white;
    color: black;
    border: solid 2px transparent;
}
.button-shop{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    justify-items: center;
    text-align: center;
    padding: 2.5rem;
    width: 150px;
    height: 60px;
    border: solid 2px black;
    margin: 250px auto auto auto;
    padding-top: 15px;
    color: black;
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.123);
}
#cuenta{
    font-size: 15px;
  color: rgba(255, 255, 255, 0.498);

}
#compra{
    font-size: 15px;
  color: rgba(255, 255, 255, 0.498);

}
/*CSS del componente PufiPuff*/
.container-principal{
    display: flex;
   }
.puff{
    width: 1000%;
    height: 82vh;
    background-image: url("../../images/puff.jpg");
    background-repeat: no-repeat;    
}
.cluster-puff{
    width: 1000%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.puff-icon{
   padding: 2%;
   width: 100px;
   height: 100px;
}
.button-pufi{
    width: 25;
    height: 40;
    display: flex;
    border: solid 2px white;
    justify-items: center;
    text-align: center;
    margin: 170px auto auto auto;
    padding-top: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.123);
}
/*CSS del componente PufiCart*/
.container-imgCart{
    background-image: url("../../images/cart1.jpg");
    background-repeat: no-repeat;
    width: 1000%;
    height: 85vh;
}
/*CSS del componente PufiNap */
.pufiNap{
    width: 1000%;
    height: 82vh;
    background-image: url("../../images/pillow3.jpg");
    background-repeat: no-repeat;   
}
/*CSS del componente Espufi*/
.container-espufi{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}
.paragraph-primary{
    font-size: 12px;
    color: rgba(128, 128, 128, 0.911);
    margin-top: 40px;
    margin-bottom: 10px;
}
.paragraph-secund{
    font-size: 35px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      margin-bottom: 10px;
  }
.container-imail{
  width: 570px;
  padding: 11px;
  border: solid 1px gray;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.text-email{
  border: none;
}
.arrow{
  width: 20px;
  height: 20px;
}
.button-email{
  border: none;
  background: none;
}
.grid{
    width: 40%;
    height: 75vh;
}
/*CSS del componente Footer*/
#container-footer{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(101, 71, 71);
    font-weight: bold;
}
#container-puffi{
    margin: auto 250px auto 5px;
}
.sections-puffi{
    height: 50%;
}
.contacts-puffi{
  margin-left: 160px;
}
.purchase{
  margin-left: 160px;
}
.follow-us{
  display: flex;
  margin-left: 50px;
}
.networks-paragraph{
    margin-left: 5px;
}
.social-networks{
 width: 20%;
 height: 20px;
 margin: 5px;
}
#line-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100px;
    color: gray;
    margin-left: 50px;
}
#line-footer-one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100px;
    color: gray;
    margin-left: 50px;
}
#line-footer-two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100px;
    color: rgb(179, 25, 25);
    margin-left: 50px;
}
.logo-black-puffi{
    width: 150px;
    height: 150px;
}
#linea-main{
    margin-bottom: 50px;
}
#text{
    color: rgba(128, 128, 128, 0.445);
}
.text-paff{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.text-footer{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    margin-bottom: 10px;
}
.container-suscribete{
    margin-bottom: 20px;
}